/* CONFIGURATION */

/* Bodytext font */
$font: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$defused: "defused";
$american_captain: "american_captain";
/* Font for headings */
$fontheadings: "american_captain", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

/* Text colors */
$head_color: #FFFFFF;
$head_size_200: 200%;
$title_color: #FFFFFF;
$title_size_110: 110%;
$title_size_90: 75%;
$text: #21272d;
$textmuted: #848484;
$accent: #2077b2;


/* IMPORT CSS FILES */
@import "bootstrap";
@import "base";
@import "nav";
@import "article";
@import "icons";
@import "syntax";
@import "responsive";
@import "_mixins";
@include register-font('defused');
@include register-font('american_captain');
/* https://gist.github.com/WhatIsHeDoing/3179370 */
.firstLetter {
	@include use-registered-font($defused);
}
.topicHeader {
	@include use-registered-font($american_captain);
}
